Source: coredhcp
Section: contrib
Priority: extra
Maintainer: Marta Nabozny <marta.nabozny@cloudover.io>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://cloudover.org/corecluster/

Package: coredhcp
Architecture: all
Depends: corecluster, dnsmasq
Description: DHCP support for isolated networks in CoreCluster
 This package includes dhcp tools for CoreCLuster's isolated networking
